<div class="wrapper">
  <div class="line">
    <button mat-raised-button (click)="createBackup()" color="primary">
      <span>Create backup</span>
      <fa-icon [icon]="faDownload"></fa-icon>
    </button>

    <button mat-raised-button (click)="fileInput.click()" color="primary">
      <span>Restore backup</span>
      <fa-icon [icon]="faUpload"></fa-icon>
    </button>
    <input
      hidden
      #fileInput
      type="file"
      accept=".json"
      (change)="restoreBackup()">
  </div>

  <div class="line">
    <p>Filter count: {{ filterCount$ | async }}</p>
  </div>
</div>
