<div class="popup">
  <div class="popup-header">
    <button mat-icon-button (click)="close()">
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </div>
  <div class="popup-content">
    <mat-tab-group headerPosition="below" mat-align-tabs="center">
      <mat-tab label="Settings">
        <div class="tab-content">
          <mat-card>
            <mat-slide-toggle>Prevent auto start</mat-slide-toggle>
            <div>
              <span>Default speed</span>
              <mat-radio-group [(ngModel)]="defaultSpeed" aria-label="Default quality">
                <mat-radio-button *ngFor="let speed of speedChoices" [value]="speed">{{ speed.label }}</mat-radio-button>
              </mat-radio-group>
            </div>
            <div>
              <span>Default quality</span>
              <mat-radio-group [(ngModel)]="defaultQuality" aria-label="Default quality">
                <mat-radio-button *ngFor="let quality of qualityChoices" [value]="quality">{{ quality.label }}</mat-radio-button>
              </mat-radio-group>
            </div>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Shortcuts">
        <div class="tab-content">
          <mat-card>
            <yt-tweaks-shortcuts-panel></yt-tweaks-shortcuts-panel>
          </mat-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
