.search-box {
  width: 100%;
}

.filters-list {
  height: 250px;
  width: 540px;

  .filter-item {
    width: 100%;
    height: 40px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .item-name {
      width: 450px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
