<mat-form-field appearance="outline" class="search-box">
  <mat-label>Search</mat-label>
  <input matInput placeholder="Type something" [(ngModel)]="searchTerm">
</mat-form-field>

<mat-list>
  <cdk-virtual-scroll-viewport itemSize="40" class="filters-list">
    <mat-list-item *cdkVirtualFor="let filter of filters$ | async | filterByTerm : searchTerm">
      <div class="filter-item">
        <span class="item-name">{{ filter }}</span>
        <button color="warn" mat-icon-button (click)="deleteFilter(filter)">
          <fa-icon [icon]="faTimesCircle"></fa-icon>
        </button>
      </div>
    </mat-list-item>

    <mat-list-item *ngIf="!(filters$ | async).length">
      <div class="filter-item">
        <span>You don't have any filters</span>
      </div>
    </mat-list-item>

    <mat-list-item
      *ngIf="searchTerm && (filters$ | async).length && !(filters$ | async | filterByTerm : searchTerm).length">
      <div class="filter-item">
        <span>Nothing was found</span>
      </div>
    </mat-list-item>
  </cdk-virtual-scroll-viewport>
</mat-list>
