:host {
  height: 100%;
  display: inline-flex;
  align-items: center;
  position: relative;

  &.mobile {
    position: absolute;
    top: 0;
    left: 0;
    .open-popup-btn {
      color: #333;
    }
  }

  .open-popup-btn {
    color: rgba(white, 0.8);
  }

  .popup {
    position: absolute;
    top: 100%;
    right: 0;
    transform: translateY(10px);
    &:before {
      content: '';
      border: 8px solid transparent;
      border-bottom-color: white;
      position: absolute;
      top: 0;
      right: 12px;
      transform: translate(0, -100%);
    }
  }
}
