<div class="header">
  <button mat-icon-button (click)="close()">
    <fa-icon [icon]="faTimes"></fa-icon>
  </button>
</div>

<mat-tab-group headerPosition="below">
  <mat-tab label="List">
    <div class="tab-content">
      <mat-form-field appearance="outline" class="search-box">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Type something" [(ngModel)]="searchTerm">
      </mat-form-field>

      <mat-list>
        <cdk-virtual-scroll-viewport itemSize="40" class="filters-list">
          <mat-list-item *cdkVirtualFor="let filter of filters$ | async | filterByTerm : searchTerm">
            <div class="filter-item">
              <span>{{ filter }}</span>
              <button mat-icon-button (click)="deleteFilter(filter)" color="warn">
                <fa-icon [icon]="faTimesCircle"></fa-icon>
              </button>
            </div>
          </mat-list-item>

          <mat-list-item *ngIf="!(filters$ | async).length">
            <div class="filter-item">
              <span>You don't have any filters</span>
            </div>
          </mat-list-item>

          <mat-list-item
            *ngIf="searchTerm && (filters$ | async).length && !(filters$ | async | filterByTerm : searchTerm).length">
            <div class="filter-item">
              <span>Nothing was found</span>
            </div>
          </mat-list-item>
        </cdk-virtual-scroll-viewport>
      </mat-list>
    </div>
  </mat-tab>

  <mat-tab label="Add new">
    <div class="add-new-wrapper tab-content">
      <mat-form-field appearance="outline" class="add-new-box">
        <mat-label>Add filter to block list</mat-label>
        <input matInput placeholder="Type name of chanel" [(ngModel)]="newFilter" (keyup.enter)="addFilter()">
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!newFilter" (click)="addFilter()">
        <span>Add </span>
        <fa-icon [icon]="faPlusCircle"></fa-icon>
      </button>
    </div>
  </mat-tab>

  <mat-tab label="Options">
    <div class="tab-content">
      <mat-slide-toggle [(ngModel)]="suspend" (change)="toggleBlock()">Suspend blocking</mat-slide-toggle>
    </div>
  </mat-tab>
</mat-tab-group>
